/**
 * tr-views.css
 */
.crf-tr-center {
  -fx-background-color: white;
  -fx-background-image: url( "file:src/main/resources/images/bcg.jpg" );
  -fx-background-size: stretch;
}

.crf-project-header {
  -fx-background-color: #336699;
}

.crf-project-name-header-label {
  -fx-text-fill: #ffffff;
  -fx-font-weight: bold;
  -fx-font-size: 31;
}

.crf-project-fw-type-header-label {
  -fx-text-fill: #ffffff;
  -fx-font-size: 31;
}


.crf-report-view-header {
  -fx-background-color: deepskyblue;
}

.crf-report-view-header-label {
  -fx-text-fill: white;
}

.crf-report-view-header-text {
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-font-size: 13;
}

.crf-report-view-comments-wrapper {
  -fx-text-fill: white;
  -fx-font-size: 13;
  -fx-font-weight: bold;
}

.crf-report-view-comments-wrapper > .title {
/*  deepskyblue */
  -fx-background-color: deepskyblue;
  -fx-background-radius: 0;
}

.crf-report-view-footer {
  -fx-border-color: lightgray;
  -fx-border-width: 1;
}

.crf-report-view {
  -fx-min-height: 830;
}

.crf-trends-view {
  -fx-min-width: 650;
}

.crf-trends-view-header {
  -fx-background-color: deepskyblue;
  -fx-min-height: 50;
}

.crf-charts-view-holder {

}

.crf-trends-view-chart {
  -fx-min-width: 700;
}

