/**
 * tr-views.css
 */
/* PROJECT */
.crf-tr-center {
  -fx-background-color: white;
  -fx-background-image: url( "file:src/main/resources/images/bcg.jpg" );
  -fx-background-size: stretch;
  -fx-scale-shape: true;
}

.crf-project-header {
  -fx-background-color: #336699;
}

.crf-project-name-header-label {
  -fx-text-fill: #ffffff;
  -fx-font-weight: bold;
  -fx-font-size: 31;
}

.crf-project-fw-type-header-label {
  -fx-text-fill: #ffffff;
  -fx-font-size: 31;
}
/* EOF PROJECT */


/* REPORT */
.crf-report-view-header {
  -fx-background-color: deepskyblue;
}

.crf-report-view-header-label {
  -fx-text-fill: white;
}

.crf-report-view-header-text {
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-font-size: 13;
}



.crf-report-view-contents-commons {
  -fx-min-height: 410;
  -fx-pref-height: 1180;
  -fx-scale-shape: true;
  -fx-fit-to-height: true;
}



.crf-report-comments-area {
  -fx-min-height:  80;
  -fx-pref-height: 80;
  -fx-scale-shape: false;
}

.crf-report-view-comments-wrapper { /* TitledPane */
  -fx-scale-shape: false;
  -fx-text-fill: white;
  -fx-font-size: 13;
  -fx-font-weight: bold;
  -fx-min-height: 110;
  -fx-pref-height: 110;
  -fx-collapsible: false;
}

.crf-report-view-comments-wrapper > .title {
/*  deepskyblue */
  -fx-background-color: deepskyblue;
  -fx-background-radius: 0;
}

.crf-report-view-footer {
  -fx-border-color: lightgray;
  -fx-border-width: 1;
}

.crf-report-view {
  -fx-min-height: 670;
  -fx-pref-width: 730;
}

.crf-report-view-export-btn {
  -fx-min-width: 130;
}
/* EOF REPORT */


/* AGGREGATE(S) */
.crf-trends-view {
}

.crf-trends-view-header {
  -fx-background-color: deepskyblue;
  -fx-min-height: 50;
}

.crf-aggregate-views-holder {
  -fx-min-height: 670;
  -fx-pref-height: 1180;
  -fx-pref-width: 1280;
}


.crf-aggregate-view-commons {
  -fx-fit-to-width: true;
}

.crf-aggregate-view {
  -fx-min-height: 335;
  -fx-min-width: 670;
  -fx-pref-width: 1260;
}

.crf-aggregate-view-chart {
  -fx-min-width: 600;
  -fx-pref-width: 1200;
  -fx-min-height: 280;
}
/* EOF AGGREGATE(S) */
